[2012-04-30 18:12] augeva opened #1 "Keyword "And" is wrongly identified within the scenario body"
If the keyword "And" is the first word of one of the feature scenario an error is reported
Repro steps:
Create a feature file like the one below:

Feature: Consumer Report UI and validation - Address Match Report

[code]

=>And retrieve financial information if I have a correct surname and address

Expected Results:
No errors are displayed

Actual Results:
The message "required (...)+ loop did not

[2012-05-14 13:53] augeva opened #2 "Empty item within pipes causes an error"
If you have a feature file like this:

Given a user runs a search for "wine"
Then the results are:
|Barolo |
|             |
|Chianti|

In this case I expect the second line in the results to be empty, but the tool complains saying:

Multiple markers at this line
- required (...)+ loop did not match anything at input '|'
- required (...)+ loop did not match anything at input '\r\n'

The feature fi

[2012-05-16 15:28] augeva opened #3 "Can we add spell check capabilities to the tool?"
Being the tool very text intensive a spell checking feature would be very important, is this possible?
##

[2012-05-17 13:05] TrueDub opened #4 "Enable reverse-lookup"
It would be handy to be able to do the following:

When you have a step definition java class, click on the Cucumber condition (@Then, @When etc) and get a list of feature files where that condition is used. The output could be similar to the search dialog in Eclipse.
##

[2012-05-18 10:43] TrueDub opened #5 "Update display in Project/Package explorer"
Would it be possible to update the icons in the project and package explorers to indicate when there are warnings on a feature file? This would make it easier to see which files have issues or missing steps.

[2012-05-21 13:06] #2 closed, assigned to rlogiacco

[2012-05-29 12:48] #5 closed, assigned to rlogiacco

[2012-06-26 11:01] TrueDub opened #7 "Step identification rules in Natural not the same as in Cucumber"
I had a step as follows:

`And a label saying "Address:" is  not displayed.`

note the double space between is and not.

My step definition had

`And a label saying "Address:" is not displayed.`

no double space.

Natural connected the two and said the step was defined, but when I ran the test case cucumber gave a PendingException saying that the step did not exist.

Possibly Natural's rules are s

[2012-11-19 15:58] rlogiacco opened #8 "StepDefs not identified with Cucumber JVM 1.1"
With the new release and the class refactoring the StepDefs are not linked anymore due to the package name change and the way the plugin finds the matching annotations.
This is an easy fix and this is a reminder to fix this as soon as possible.

[2012-11-25 08:01] #8 closed, assigned to rlogiacco

[2012-11-25 20:40] rlogiacco opened #9 "Create Eclipse update site"
The current features installation process requires the users to download the archive locally and use it as an archived local update site.
This is a long error prone process (some people download the repo archive rather than the exported artifacts) while a better, more standard approach is to use an [Eclipse update site](http://goo.gl/3COFh).

The idea is to use [Github Pages](https://help.github.c

[2012-11-25 20:42] rlogiacco opened #10 "Code formatting"
Add automatic code formatting so that CTRL+SHIFT+F can create the necessary code indentation.

The trick here is not to mess up with step definitions because of the regexp matching.

[2012-11-26 14:30] #10 closed, assigned to rlogiacco

[2012-11-26 14:34] rlogiacco opened #11 "Revalidate features after Java change"
When a Java build occurs the plugin must re execute the EValidator to check if change has fixed or broken any matching between steps and stepdefs.

Right now to verify this you have to open the feature file and force a re validation by modifying and saving it, which is impractical.

The current easiest way to check the entire feature sets is to issue a clean build, which should be documented.
##

[2012-11-27 04:24] rlogiacco opened #13 "Customize folding regions"
By using [this suggestion](http://www.eclipse.org/forums/index.php/mv/tree/170825/#page_top) the folding regions should be customized to match the gherkin syntax.

The idea is to allow folding of scenarios, scenario outlines, background and steps containing tables/docstrings only.

All other elements (tags, simple steps) should not be foldable but they currently are and folding regions are not pro

[2012-11-27 07:45] rlogiacco opened #14 "Step description auto completion"
Customize auto completion so that the available stepdefs are proposed as possible completion for a step.

[2012-11-27 07:47] #1 closed, assigned to nobody

[2012-11-28 15:07] #14 closed, assigned to nobody

[2012-11-29 19:57] rlogiacco opened #15 "Personalized preferences"
The plugin is showing two preference pages that are not needed: compiler and refactor.

They should both be removed, unless refactoring can be implemented in a nice way.
##

[2012-11-30 16:57] rlogiacco opened #16 "Add quickfix support"
If a step does not have a matching stepdef it should be easy to create a quickfix action that creates a new method with the right annotation in the class where the other stepdefs are defined or by prompting the user to select one.

More investigation is required to know what can be achieved, but definitely there should be some sort of support.
##

[2012-12-08 04:10] #9 closed, assigned to nobody

[2013-01-17 13:59] rlogiacco opened #19 "Feature file comparison"
When trying to compare a feature file with another or against local or SCM history an empty comparator view is shown. Switching between comparators does not help either.

[2013-01-17 14:00] #19 closed, assigned to nobody

[2013-02-07 14:06] joaoclineu opened #20 "Auto-complete"
I can not use the Auto-Complete in midsentence ...

example:
                      Giv + Ctrl + Space
                      I click + Ctrl + Space
##

[2013-02-11 23:39] JasonSmiley opened #21 "Bug - Ctrl + Space not working for me"
Type= Error

Message=Conflicting handlers for org.eclipse.ui.edit.text.contentAssist.proposals: {org.eclipse.xtext.ui.editor.handler.ContentAssistHandler@245a9e5b} vs {ActionHandler(org.eclipse.ui.texteditor.ContentAssistAction@5baecab9)}

Exception Stack Trace=An exception stack trace is not available.

Session Data=eclipse.buildId=M20120914-1800
java.version=1.7.0_10
java.vendor=Oracle Corporati

[2013-03-13 14:33] hangvar opened #22 "International keywords"
I would like to be able to use international keywords in the feature files.

[2013-03-21 14:13] hangvar opened #23 "Keyword highlighting"
The keyword highlighting doesn't work when there is an empty line after an initial comment line (defining the language used). See below

![Sk rmklipp](https://f.cloud.github.com/assets/1937005/286007/60d41a18-9231-11e2-9b33-e990b5b1e736.PNG)

But when I remove the empty row the highlighting is back in business!

![Sk rmklipp2](https://f.cloud.github.com/assets/1937005/286015/7f82a452-9231-11e2-939

[2013-08-28 07:19] friederbluemle opened #24 "Ctrl+Shift+F does not work correctly"
When applying the auto-formatter, this plugin does not correctly format Gherkin feature files.

Before:
![image](https://f.cloud.github.com/assets/743291/1040292/ccb0805c-0fb1-11e3-90a4-1d7b9ee7f00d.png)

After:
![image](https://f.cloud.github.com/assets/743291/1040305/02fa9652-0fb2-11e3-9664-3401389c4db2.png)

Note the incorrect indentation, mix of tabs and spaces, and appended spaces.

Is there

[2013-10-09 18:06] shaivalgupta opened #25 "Compare broken with Git"
I am using the cucumber editor with eclipse. When I try to compare my feature files with older versions in git I get a blank compare screen with the following error

Error
Wed Oct 09 12:58:33 CDT 2013
Guice configuration errors:
1) No implementation for org.eclipse.compare.IViewerCreator was bound.
  while locating org.eclipse.compare.IViewerCreator
    for field at org.eclipse.xtext.ui.compare.In

[2013-11-06 16:38] robertoandrade opened #26 "Support Task Tags (i.e.: TODO or FIXME)"
Many plugin's editors allow configuration (as well as with generic Eclipse editor preferences) to configure which Content Types and files should be included in Tasks discovery for listing in the Tasks view. It would be nice this this plugin supported it as well so comments like:
# TODO: Need to add a scenario here for XYZ.

Would show up alongside other tasks in the IDE.
##

[2013-11-06 16:43] robertoandrade opened #27 "Autoformat indentation option"
I am a fan of Cucumber-Eclipse's auto formatting standard where it indents Background and Scenarios under Feature instead of at the same level: https://github.com/cucumber/cucumber-eclipse/wiki/Pretty-Formatting

It would be nice to have that either as a default or at least an option for developers to configure as part of their workspace/projects.
##

[2013-11-06 16:48] robertoandrade opened #28 "Code folding seems to fold a couple too many lines"
When editing my feature files with Natural's cucumber editor and I use the code folding feature by the line number to fold an entire scenario it seems like it also hides the Scenario line of the scenario below the folded one actually making it look like the steps of the following scenario belong to the one that was just folded, i.e.;

[-] Scenario: A
   Given: A step

[-] Scenario: B
   Given: B s

[2013-11-07 19:44] robertoandrade opened #29 "Implement "Quick fix" shortcut for missing step definition warnings"
Prompt user for class where methods should be injected (similar to refactor dialogs for moving methods or generate getter/setter)
##

[2013-11-12 11:23] #21 closed, assigned to nobody

[2013-11-15 16:02] cattox opened #30 "Ctrl+space doesn't work"
I installed the plugin successfully and opened an existing feature file with the editor. I can  popup templates, but the step definition finder feature doesn't work. attached is a screen shot of the error in the eclipse log.

I'm using eclipse Juno 64 bit on a win 7 64 bit running java 1.6.0_31 64 bit.

Help appreciated

![cucumber_natural_error2](https://f.cloud.github.com/assets/635868/1551122/0

[2013-11-20 11:40] #30 closed, assigned to nobody

[2014-02-07 13:01] joe2236 opened #31 "matching scenario outline variables with java code definitions does not work"
hi,

when using simple scenario outlines like
### simple scenario feature

[code]

and the steps are not defined yet then the java cucumberrunner will autogenerate it with
### simple scenario java

[code]

when i use this declarations cucumber does work with no problems - but the matching in your editor plugin allways says for example
**No definition found for `i send <command>`**

when i change t

[2014-04-23 20:38] rconaway opened #32 ""Go to Definition" stopped working in Cucumber Editor"
I've been using your Cucumber editor for a while with great success.  Thank you for providing it.  I'm using 0.7.4 in Juno.

Recently, we reorganized the project by moving a local module into a Nexus repository.  Since then, the "Go to Definition" feature has stopped working (Gherkin -> Java).  Some of the step definitions were moved into the repository - I can understand if the tool can't see tho

[2014-06-05 12:25] jakub-bochenski opened #33 "Cucumber editor can't handle large projects"
I've installed the plugin on a brand new eclipse install with xtext 2.3.1
When I load my project, which has ~4,700 classes (not even any cucumber binidngs, just regular java project) eclipse will eat 100% of cpu. Even building the projects takes several minutes.
After uninstalling xtext and cucumber editor things got  back to normal.
##

[2014-06-16 14:11] devisuresh opened #34 "Reg: Documentation for Natural plugin tool"
Hi,

I am using the Natural - eclipse plugin as its a preferred tool by most of the developers. Natural tool is providing most of the features we require for our cucumber editor tool. Even though we require some customization for the content assistance feature. And trying to build upon the existing natural source code.

I see the comments in the classes like
/**
- see http://www.eclipse.org/Xtext/

[2014-06-30 12:25] devisuresh opened #35 "Deployment guidelines of customized natural plugin code"
Hi All,

We are using the Natural plugin for cucumber editor as most of the requirements were available in this tool and it works well also. Now we are in need of customizing the natural plugin code.

I have customized the Natural plugin code to load the content assistance from config file instead. Am facing issues while creating as plugin again so that the customized natural plugin can be used by

[2014-07-03 09:27] #22 closed, assigned to nobody

[2014-07-04 12:08] #34 closed, assigned to nobody

[2014-07-04 12:08] #35 closed, assigned to nobody

[2014-09-01 12:25] devisuresh opened #36 "Natural plugin is not working in Eclipse Juno service release 2"
Hi All,

One issue am seeing is Natural plugin is not working when i use Eclipse Juno Service release 2. And its working only with Eclipse Juno Service release 1.

Major versions (Indigo,Helios etc) not supported is understandable (if eclipse fw itself changes the way a plug-in interacts). Will Service releases usually change the underlying interfaces? Any idea about this restrictions and how to o

[2014-10-17 05:39] genthaler opened #37 "Tagged Scenario Outline breaks indentation of subsequent Scenarios and Scenario Outlines"
[code]
- Without tag

[code]
- With tag

[code]
##

[2014-10-17 17:13] #25 closed, assigned to nobody

[2014-11-09 19:43] michael-schnell opened #38 "Update site stopped working"
Couldn't reach the update site mentioned in the wiki (worked fine before):
http://rlogiacco.github.com/Natural/

[2014-11-09 19:45] #38 closed, assigned to nobody

[2014-12-03 21:29] genthaler opened #39 "Reformat should (conditionally) align DataTables"
[code]
##

[2014-12-05 16:56] tottinge opened #40 "Not recognizing step definition in Scenario Outline"
While natural seems to do a great job with the step definition in the flows (seen above in pic), in the scenario outline, it doesn't seem to find the regex. Is it confused by the placeholders not being digits?

![screenshot 2014-12-05 10 46 06](https://cloud.githubusercontent.com/assets/611142/5319280/6aceb74e-7c6d-11e4-92e6-6b51dccb104e.png)
##

[2015-01-20 04:15] devisuresh commented on #36
Thanks robert.

The customization code which i added for content assist causes this issue. I have tested the natural plugin in kepler,luna etc. It works good.

[2015-01-20 04:15] #36 closed

[2015-01-28 06:23] devisuresh opened #41 "Content assitance is getting auto sorted"
Hi All,

We have customized the content assist of natural plugin to display our own content as content assist for our project. This works good currently. But this contents were getting auto sorted to ascending order while displaying it in the feature file. We want to display the content assist in the order which we have in the proposal list object in JavaAnnotationMatcher.findProposals() method.

[2015-01-28 08:27] rlogiacco commented on #41
I believe there is a way to establish a precedence or grouping, but I'm not sure how to get that as my knowledge of the Eclipse API is limited.

As I'm using Xtext which, in turn, uses plain Eclipse RCP and because I see in my IDE some sort of precedence on the Java content assist, I don't see why the same couldn't be achieved on the Natural plugin: please let me know if you succeed in the task.

[2015-01-29 07:01] devisuresh commented on #41
Thanks Robert.

Am trying to show up the first level content assist list items first and then the second level content assist list items. So i have added the first level content assist to proposal object and then added the second level content assist list items.  Then i want to display the proposal list contents in the same order which the proposal object holds. But the list items were getting aut

[2015-02-16 01:36] alqh commented on #4
Also, possibly warn for those step definitions that are not in used (similar to unused variables error) to allow developer to clean up unused step defs especially when step defs spans across multiple classes?

[2015-02-16 10:21] rlogiacco commented on #4
That would be a nice feature: are you willing to implement it?

[2015-03-06 08:20] timurmazitov opened #42 "Support russian language"
Hi!
Cucumber supports 40 languages, but plugin understands only english.
Could you, please, add support for russian language?
Thanks in advance!

[2015-03-06 17:05] rlogiacco commented on #42
There are two ways to add localized cucumber files support:
1. perform a custom build specifying the keywords and the annotations being
in Russian, a task you can do yourself by slightly modifying the source
code and rebuilding; this will produce a build which might satisfy your
needs, but not many others
2. add a parser rule capable of switching among the different languages
depending on the firs

[2015-04-22 01:14] genthaler commented on #39
I tried setting up Eclipse to build the project, but had all sorts of problems.
Could you please add some info to the [Contribute](https://github.com/rlogiacco/Natural/wiki/Contribute) page on what versions of Eclipse, plugins, JVM etc are working for you?

[2015-04-27 10:49] sivaprasad09 commented on #41
Hi rlogiacco,

can we have a content assist as subword search for proposal. When I am using Intellij as a IDE I am getting subword(regular expression) content assist. When I am trying add plugin for eclipse i had chosen natural which has all features but only missing part is subword content assist. if you add a code for this that will great.

[2015-04-27 15:25] rlogiacco commented on #41
Hi, can you get into the details of what you would expect with subword
content assist? It's not clear to me what this means

[2015-05-01 10:09] rlogiacco commented on #39
Hi Gunter,
I just downloaded the latest and greatest Xtext bundle and, apart for a
trivial error on one little missing bundle, everything worked fine... I'm
currently using Eclipse Luna 64bit on a Window 7 64bit machine running a
JDK 7 64bit, but I've succesfully built the project on a Linux 64bit and on
a Windows XP 32bit machine in the past with no modifications and much older
Eclipse and Xtext

[2015-05-07 13:35] rlogiacco commented on #33
Just an update on this: I believe I've found a few performance improvements and I might add the possibility to specify a package filtering option in the plugin preferences for the project to reduce the amount of classes getting scanned for annotations.

This might lead to a much better performance when the plugin is used on a huge workspace.

I'll come back as soon as I manage to prepare a new rel

[2015-05-09 22:23] rlogiacco commented on #33
I've built a newer version which should improve performance on large projects: please share your feedback on this.

[2015-07-09 11:41] hsudbrock opened #43 "Update to Gherkin 3"
In the following example, I get java hyperlinks for the second line in the scenario outline, but not for the first. It seems to be caused by using '*' and not one of the keywords 'And', 'Given', etc.

[code]

![missing-java-link](https://cloud.githubusercontent.com/assets/5314568/8594338/1c86c464-2640-11e5-8275-98cfbe011bc5.png)
##

[2015-07-09 13:19] rlogiacco commented on #43
Your interpretation is correct, actually the line starting with the asterisk is not interpreted as a `step` but it is rather considered part of the scenario outline description. I wasn't aware the asterisk can be used to identify a step: can you point me to the documentation regarding this?

[2015-07-10 06:27] hsudbrock commented on #43
Interesting - Cucumber happily executes my Gherkin features that contain the asterisk, but I cannnot find it documented in the Cucumber documentation.

I know the asterisk-feature from this book: https://pragprog.com/book/srjcuc/the-cucumber-for-java-book. The asterisk-feature is also described in blog entries on Cucumber (e.g., http://antonymarcano.com/blog/tag/gherkin/).

Nevertheless, the aster

[2015-07-10 08:09] rlogiacco commented on #43
Sadly the Natural plugin doesn't use the Gherkin parser, but one I've described myself in an EBNF like syntax. If you wish I'm still strugglying to find a way to use the official parser and get rid of the many parsing issues we are experiencing.

Would you be willing to help me on this?

[2015-07-13 10:44] hsudbrock commented on #43
In the Gherkin3 parser project the asterisk is defined in the language definition file (https://github.com/cucumber/gherkin3/blob/master/gherkin-languages.json), where the asterisk is just one of potentially multiple "translations" for keywords like "when", "given", etc. It seems odd to me defining the asterisk as a translation, but the Gherkin3-people will have had a good reason for that, I guess

[2015-11-06 09:26] atomsk81 opened #44 "Multiple definitions found issue"
Hi there, thanks for the great plugin!

I have 2 maven projects, lets say A contains a set of step definitions and B contains another set of step definitions. project B has the feature files for which the glue option is configured to look project A and project B step defs. (not sure if all this is relevant). My issues is the following

When using step definitions of project A writing feature files

[2015-11-06 10:09] rlogiacco commented on #44
This is known issue and it related to the stepdef to step matching process, which is also causing slowness and unresponsiveness on big projects: the whole workspace is scanned for step to stepdef matching possibilities.

The plugin has no idea of which value you assigned as `glue` so any open project and it's dependencies are potential matchers.
You can work around the issue by closing the project

[2015-11-06 10:31] atomsk81 commented on #44
i'm closing the project which contains the step defs but the editor is still reporting that it finds 2 identical step defs (on hover and CTRL) and underlines the sentences. None of those two are working  since there is no implemenation to redirect to. My question is, why the editor insists on throwing this warning, in this case, when it should have actually said that it cannot find any definitions

[2015-11-06 20:35] rlogiacco commented on #44
The editor caches the last search and clears the cache upon Java build or
Gherkin content update.
Can you type something into the feature file, delete it back and save? That
should activate the indexing routine

Il venerdì 6 novembre 2015, atomsk81 <notifications@github.com> ha scritto:

[2016-02-07 00:02] andyg101 opened #45 "Multiple examples highlighted as syntax error"
I believe that the following is valid gherkin syntax. However the second examples block is highlighted as a syntax error.

[code]
##

[2016-03-21 08:46] halatas opened #46 "Groovy step definitions"
I am using cucumber in eclipse mars/gradle/groovy setup. The groovy step definitions run perfectly fine on command line, however I could not get the plugin to work. Defined steps do not appear on auto complete list and I still see feature steps as "not defined" on editor.

Could you please let me know if this is requires additional development or is an issue on my setup?
##

[2016-03-21 08:56] rlogiacco commented on #46
There is additional development required in order to search the matching stepdefs in Groovy files, at this stage the plugin only looks for Java files and, even on that front, it requires some improvements.

You are welcome to contribute.

[2016-03-22 09:08] halatas commented on #46
I would like to when I find time, however I am a complete noob on eclipse plugin development, could you please give a few clues on where to start?

[2016-03-22 10:30] rlogiacco commented on #46
Start from Xtext and the project wiki. When I wrote this plugin I was a complete noob on eclipse pligin development myself and still now i consider myself a noob :)

[2016-03-22 10:34] rlogiacco commented on #41
No comments received

[2016-03-22 17:54] sivaprasad09 commented on #41
I am looking for the regular expression auto fill in natural editor.
we are using natural plugin for BDD automation. when i enter given and ctrl+space it displays when it matches with starting letter but we are looking for regular expression search in a sentence(if any word matches in sentence then it should display)

[2016-03-22 20:32] rlogiacco commented on #41
Does it have to do with content assist sorting?

Do you have a fix?

[2016-03-23 04:01] sivaprasad09 commented on #41
No I don't have any fix right now. I am trying to do it. Do you have
anything existing
On 23-Mar-2016 2:02 am, "Roberto Lo Giacco" <notifications@github.com>
wrote:

[2016-03-23 10:37] rlogiacco commented on #41
No. When you have something working feel free to submit a pull request mentioning this issue.

[2016-06-15 10:28] rlogiacco opened #47 "Autocomplete on tags"
It would be nice, when you type the `@` char to define a tag, if existing tags can be suggested for autocompletion, so to avoid hard to identify typos.
##

[2016-06-17 09:20] halatas commented on #46
I am getting many missing Class and Package issues when I import the project. For example in org.agileware.natural.cucumber, i can not find org.agileware.natural.cucumber package which is supposed to have CucumberGrammarAccess in it. Am i missing something obvious?

[2016-06-17 11:44] rlogiacco commented on #46
​There are multiple classes that need to be generated in order to resolve a
few compilation errors. Generation occurs via Xtext  Have you read the wiki
page https://github.com/rlogiacco/Natural/wiki/Contribute?​

On Fri, Jun 17, 2016 at 11:20 AM, halatas <notifications@github.com> wrote:

[2016-09-13 13:03] PyvesB opened #48 "Incompatibility with latest versions of Xtext"
Hello rlogiacco,

I was having issues when installing the Cucumber Natural component, and after some investigation I found out that only versions of Xtext up to 2.7.3 seem to be working correctly with the plugin. From version 2.8.0 onward, all the lines in the feature files show a "No definition found for [...]" warning message.

Thanks in advance for your help!

Cheers,

Pyves
##

[2016-10-20 16:17] JacksonBailey commented on #46
As a "workaround" is there anyway to turn off the warnings while still using the editor for its syntax support?

[2017-01-06 09:56] mareurs commented on #32
Any news on this issue?
What I did as a fix is to add the steps in the project where the feature files are just for references. You will have 2 different mappings to the same regex and should choose the 2nd. It is not pretty but it helps.

[2017-01-06 10:37] rlogiacco commented on #32
Humm, are you saying the plugin is only capable to find step definitions when they are hosted in the same project as the feature files are? That doesn't sound right...

The plugin need to have access to the Java source code in order to correctly create the link, to do so it scans all open projects performing a Java Search (same as the one available via menu).

If you have the stepdefs source code

[2017-01-06 11:09] mareurs commented on #32
Yes, that is the case. It happens with another cucumber plugin: cucumber-editor (not sure if it is relevant).
In order to see the source code I need to copy the Steps in the project where the feature files are. Please let me know how I can be of help.
Grazzie tanto ! :)

[2017-01-07 00:06] rlogiacco commented on #32
As I said, I need you to export your project or, if you can't share it for any reason, create an example project which reproduces the issue.
Along with that I need to know the exact Eclipse version you are using.

[2017-01-09 08:52] mareurs commented on #32
Hi,

Sorry, I can't share the project since it is the company's that i am working on and it is
huge anyways. I will try to create a new one and reproduce the problem.

As I said, I need you to export your project or, if you can't share it for any reason, create
an example project which reproduces the issue.Along with that I need to know the
exact Eclipse version you are using.
?You are receiving t

[2017-02-02 13:41] systemovich opened #49 "Cucumber warns about missing inherited steps"
I am working in PHP and Behat. Some of the steps are inherited, but the Cucumber editor warns that they are missing. Is there a way to fix this?

[2017-02-02 15:38] rlogiacco commented on #49
The plugin scans Java source files for step definitions, meaning the current implementation is capable to support only Java.
I would personally welcome any contribution adding support for additional languages: are you willing to contribute or do you know anybody willing to do so?

[2017-02-02 16:33] systemovich commented on #49
@rlogiacco, I will try to add support for PHP.

[2017-02-17 16:50] James-Y-Du commented on #45
I met the same problem. Is someone looking into this issue right now?

[2017-02-18 02:24] rlogiacco commented on #45
No, but you are welcome to contribute a fix for it.

[2017-03-07 16:24] gjobin opened #50 "CTRL-Click not working when using composed Regex"
We've been investigating an issue with CTRL+Click not working when one of our project is loaded.

We noticed that if a project that contains steps defs as below is loaded, it will not work, and generate entry logs in eclipse when trying to CTRL+Click on a step. This should be taken as a regression since is was reported to be working on previous versions of the plugin or eclipse. Tests are valid an

[2017-03-07 16:32] gjobin commented on #50
Also please note that the following works :

[code]

[2017-03-07 22:24] rlogiacco commented on #50
First of all thanks for the report. I hardly believe constants replacement has ever worked because the matching algorithm between steps and stepdefs has always relied on string matching.

I understand this capability can be quite useful, but it might also be quite difficult to implement and I've also been unable to find any help in bringing this project forward: apparently everyone wants additiona

[2017-04-12 18:12] tome57a opened #51 "Problem linking steps to step definition methods"
I am having a problem linking step definition methods to steps in my project. My environment is Eclipse Neon.3 on Windows 10 with the Natural 0.7.6 plugin installed. The code is as follows:

Feature file ProofOfConcept.feature:
[code]
The compiler is flagging the steps with 'no definition found' warnings.

Step definition file ProofOfConceptSteps.java:
[code]

The compiler is flagging the "@Given"

[2017-05-03 08:48] hammalas opened #52 "Projects building"
Could you pleease explain more how to build the projects using Eclipse ?

[2017-05-03 09:01] rlogiacco commented on #52
Have you already read the wiki? https://github.com/rlogiacco/Natural/wiki/Contribute

Do you have any specific issue you are facing?

[2017-05-03 09:51] hammalas commented on #52
I have cloned the repo, then I installed xtext plugin on eclipse (first time I use this ). When I Run MWE2 Workflow I hav this error : A JNI error has occured, please check your installation and try again.

[2017-05-03 09:57] rlogiacco commented on #52
Well, I suggest to start googling for that and see if you get any meaningful advice. I could do a verification on my computer, but since the error seems relative to native code (JNI) we will also have to consider operating system differences...

- which OS are you on?
- what platform type are you using, 32 or 64 bit?
- which specific version of Java are you using?
- which specific version of Eclip

[2017-05-03 12:31] hammalas commented on #52
I'm using windows7 64 bits, java 8, Eclipse mars and xtext last version
2.11.0

2017-05-03 11:57 GMT+02:00 Roberto Lo Giacco <notifications@github.com>:

[2017-05-04 10:35] #52 closed

[2017-05-04 10:35] hammalas commented on #52
xtext version issue

[2017-05-09 09:03] hammalas commented on #20
Why not use proposal contains prefix instead of regionMatch in isValidProposal method.
I tried this and it works.
But it works only when typing Ctrl + Space and do not continue if typing.
For example: I have a sentence check user is logged
when I type use + Ctrl + Space the sentence is proposed, then when I type 'r' I must do  Ctrl + Space to have the proposition.
I don't know if it is clear for y

[2017-05-24 13:57] hammalas opened #53 "NPE when using String constant in the cucumber annotation"
NPE when using String constant in the cucumber annotation

Example:

public final String PROFILES = "'(admin|mobile)'";

    @When(PROFILES + " do something")
[naturallog.txt](https://github.com/rlogiacco/Natural/files/1025759/naturallog.txt)

[2017-07-14 10:17] #49 closed

[2017-09-16 10:34] Pontesegger opened #54 "License missing"
Hi,

I am very interested in pushing this plugin a little and combine it with eclipse.org/ease. Therefore we would require clear licenses as part of the bundles and best also of the source files. From the marketplace I can see that these plugins are available under EPL. However I cannot find refereces to EPL on the github page or within the source files.

[2017-09-16 11:01] rlogiacco commented on #54
EPL 1.0 has been added as requested, but I'm not sure I see a practical touch point between EASE and Natural, with the former focusing on scripting languages while the latter focuses on specification languages.

While I would welcome any type of help (the project has been stuck for too long) I would also desire to avoid to see it being used to drive the BDD community toward some sort of _automatio

[2017-09-16 11:01] #54 closed

[2017-09-17 07:39] Pontesegger commented on #54
Thanks for adding the license. It will be needed when an eclipse projects wants to add a dependency to your code.

EASE provides a testing framework for script languages based on junit. What we intend is to provide a way to execute cucumber *.feature files by providing code generators for script languages and then execute such feature files using our supported script languages.

From Natural we wa

[2017-11-17 03:53] teuku-monza opened #55 "eclipse update site is not working"
Hi, I think the eclipse update site is not working
rlogiacco.github.io/Natural

Cheers,
Monza

[2017-11-17 03:56] teuku-monza commented on #53
duplicate with #50

[2017-11-17 04:55] teuku-monza commented on #55
I think the artifacts.jar and content.jar are missing from the site.

[2018-04-26 15:49] lnm2 opened #56 "Syntax highlighting and definition link breaks when there are multiple example tables in a scenario outline"
Syntax highlighting breaks and definition links break when there are multiple example tables in a scenario outline for each scenario / outline after the multiple example tables.

Also, there is a syntax error for the first example table when there are multiple example tables:
(mismatched input '@blue' expecting 'Examples:')

![image](https://user-images.githubusercontent.com/37799895/39316747-d285

[2018-08-17 15:55] larsflyger opened #57 "Could not complete install on Eclipse Neon"
Hello, I'm currently trying to install Natural on my Eclipse Neon.3 Release (4.6.3), and I've had several dependency errors trying to complete the installation that I can't figure out:

[2018-08-23 17:00] mikejramsey56 opened #58 "No implementation for org.eclipse.xtext.ui.refactoring.IReferenceUpdater was bound., ....ui.IRenameSupport$Factory was bound."
I installed Natural but I am seeing these errors in my Eclipse error log.  My system is Windows 10.  Installed Software list is after the error message.

eclipse.buildId=4.7.3.M20180330-0640
java.version=1.8.0_172
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.java.product -product org.eclipse.ep

[2018-09-02 10:28] rlogiacco commented on #57
Hi @larsflyger,
You are trying to install on a proprietary version of a web port of Eclipse: sorry I can't help with that.

[2018-09-02 10:28] #57 closed

[2018-09-02 10:33] rlogiacco commented on #58
Natural has not been updated to recent Eclipse versions due to lack of help or support on this project.
I'm left with two options: switch to a subscription model and get funds to bring the project on by myself or keep waiting for developers to join me.
Any alternative idea?

[2018-09-18 11:22] gilesn opened #59 "'no definition found for '<step>' where step expects Integer parameters"
For a step expecting integer parameters the editor shows errors 'no definition found for ..'

feature file:
 `Then I expect <number>`

Glue:
`@Then("^I expect (\\d+)$")`

If I change the regexp to `(.*)` the error goes away.

[2018-12-27 08:36] sahanisunil144 opened #60 "org.xml.sax.SAXException occurring while installing in Eclipse IDE 2018-09"
While installing in Eclipse, it is throwing a popup with message : Error reading update site.
The XML stream is not a valid default "site.xml" file. The root tag is not site.

The Log file is attached. PFA
[Cucumber Natural Error Log.log](https://github.com/rlogiacco/Natural/files/2711929/Cucumber.Natural.Error.Log.log)

[2018-12-27 08:40] sahanisunil144 commented on #60
This seemed to be a proxy issue. No issue in the files. Hence closing with not a bug status.

[2018-12-27 08:40] #60 closed

[2019-01-22 11:40] hurjup opened #61 "Unhandled event loop exception"
Natural breaks and throws this exception.
[code]
Code:
[code]
Feature:
`Then I check response body whether the following message is displayed "blah blah blah"`

Visually I don't see anything wrong with the code above. Also, colleagues using intellij do not face this problem.

A related concern is that the above problem is triggered in another project sitting in another working set than the one I w

[2019-01-25 10:34] rlogiacco commented on #61
IntelliJ doesn't use Natural, there's no database so no re-initialization is possible, either via secret shortcuts or anything else.

I've been begging for help on this project in each and every possible way, but it seems nobody is willing to stand up and lend me an hand, so the project is where it is and will keep growing dust and issues: I'm not willing to keep donating to a community who hasn't

[2019-01-25 10:34] #61 closed

[2019-02-06 12:21] ragavan8811 commented on #44
I am also getting the same issue, my editor identifies two steps and those steps are not similar. i could find the cause to resolve it
Eg:
Step1--> sending_BranchCode_returnValuation_processMulti_provider(arg1,arg2,arg3){}
Step2--> sending_BranchCode_returnValuation_returnOptions_processMulti_provider(arg1,arg2,arg3,arg4){}

[2019-02-18 02:14] rconaway commented on #32
I'm not working in this area anymore.

[2019-02-18 02:14] #32 closed

[2019-05-06 13:41] sachsgit opened #62 "Unable to install Natural 0.7.6"
I am trying to install Natural 0.7.6 on Eclipse IDE 4.11, and I am getting

Eclipse IDE for Java Developers
Version: 2019-03 (4.11.0)
Build id: 20190314-1200

[2019-05-06 14:28] rlogiacco commented on #62
This project has not been updated to the latest versions of Eclipse, so you are left with a few options:

* roll back to a previous version of Eclipse
* help me update the project

I have been asking for help on this project in the past four years without success (most common reason being "I'm not a developer"), so if you want to help me revamp the project you are very welcome, but I know I don't

[2019-05-06 15:09] sachsgit commented on #62
I'm a Software Engineer in Test... so I would love to help... just not sure what's involved.
Can you point me into the direction for what needed to be done to update this project to Eclipse 4.11 (and beyond)?

[2019-05-06 15:56] sachsgit commented on #62
Saw the wiki, and trying to install Xtext

[2019-05-07 15:05] rlogiacco commented on #62
Keep me posted and I'll try to help you out. Obviously, you need to install
the most recent version of Xtext rather than the one referenced in the
wiki: that one would probably not produce a build compatible with the
latest Eclipse.

On Mon, May 6, 2019 at 5:56 PM Sachs <notifications@github.com> wrote:

[2019-05-08 14:26] sachsgit commented on #62
Question: I see there is a warning/error message saying: "gherkin-2.11.2.jar cannot be resolved" which is a "Plug-in Problem". Where does gherkin-2.11.2.jar come from?

I have found "gherkin-6.0.17.jar" from cucumber.io., but that seems to be way off. Or is it?

[2019-05-09 09:45] rlogiacco commented on #62
It was the latest version available at that time. Please consider Gherkin
went under heavy refactoring in the latest couple of years so that version
difference is not that much surprising.

We will probably have to do some refactoring as well: I'm quite sure there
are a few things which are not compatible with our source code, even if I
believe there is only one or two calls to the library.

On We

[2019-05-09 14:31] sachsgit commented on #62
To "get rid" of the errors I was seeing, I needed to move from Java 1.5 to 1.6. Which did clear out the "errors" but left me with the following "warnings"
Description	Resource	Path	Location	Type
'Automatic-Module-Name' header is required to be discoverable as a Java module in a Java modular setup (Java 9 and later)	MANIFEST.MF	/org.agileware.natural.common/META-INF	line 1	Plug-in Problem
gherkin-6

[2019-05-09 15:00] rlogiacco commented on #62
The messages you copy pasted are practically unreadable, but I believe the warnings are mostly related to the upgrades in the eclipse plugin management.

If you prefer Ican open up a channel on slack where communication might be easier.

[2019-05-09 15:05] rlogiacco commented on #62
After applying some formatting I also see warnings due to deprecated operations in the Xtext libraries: I guess there’s some additional work required to get rid of those.
Anyway, if you focus on having it running I can focus on the necessary refactoring to have it updated to the latest version.

[2019-05-14 16:15] rlogiacco commented on #62
Here the invitation to the brand new [slack team](https://join.slack.com/t/natural-world/shared_invite/enQtNjI4OTI1MjY2MzA1LTUwOWJlNmNlNmEyYjQxNTBiNWYyMTZhNTAwZjEwOTNmNjk5YmFiOTE3Mjk0ZGY1ODFiMmRhYjc0NzMzYWQ2ZTI)

[2019-05-16 18:43] sachsgit commented on #62
Signed into the slack team. Haven't used slack much.

HAd to reinstall Eclipse, and I was able to install from Eclipse Marketplace. Still, want to help and clean up the code.

[2019-07-17 17:29] sachsgit commented on #62
Slack is blocked at work.

[2019-07-17 17:36] sachsgit opened #63 "buildproperties: jars.extra.classpath has been deprecated"
I was looking at [Feature and Plug-in Build Configuration Properties](https://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.pde.doc.user%2Freference%2Fpde_feature_generating_build.htm) webpage and I noticed that:

PS: @rlogiacco Still around, just having some computer problems and work-issues, but still wanting and willing to help you clear out the warnings and update the code as I can.

[2019-07-30 15:51] Rocky007QA commented on #62
I'm also facing an issue to install Natural 0.7.6 plugin in Eclips Mars. Below is the screen shot of error. This is first time installing the plugin. Could you please help to resolve this issue.

![image](https://user-images.githubusercontent.com/53486836/62144728-f18de380-b30f-11e9-9e95-21689c8b1482.png)

[2019-11-12 08:35] Bokatbo opened #64 "allow tag for scenatrio outline"
Use of tags in  scenario-outline should be allowed, it is not today. See example below

  @123
  Scenario Outline: using Scheduled Task.
    Given  a banana on the market "settlePlace"
    When the banana is sold
    Then the status should be "status"

 @fr
    Examples:
      | settlePlace       | status |
      | France              | VERIFIED    |

 @CH @BCDEF
    Examples:
      | settlePlace

[2020-01-09 10:29] devendra-qa commented on #62
I am also facing issue while installing Natural plug-in and getting below error

An error occurred while collecting items to be installed
session context was:(profile=epp.package.java, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Multiple problems occurred while downloading.
HTTP Server 'Service Unavailable': http://download.eclipse.org/m2e-wtp/signed/mavenarchi

[2020-01-09 10:31] devendra-qa commented on #62
please help in resolving above issue. Also it taking complete day to install and then get this error

[2020-01-09 13:55] rlogiacco commented on #62
@devendra-qa sure, here are the instructions:
1. fork this repository
2. clone the forked repository on your computer
3. use the latest Xend IDE to rebuild the plugin with the latest dependencies.

Once you have it working, feel free to share your changes via a pull request.

[2020-01-10 10:53] rlogiacco commented on #62
You are aware you got the entire software for free, right? Because I had the impression from you consider your "complete day" somehow more valuable than the many nights I've spent to code this plugin....

[2020-01-13 05:47] devendra-qa commented on #62
@rlogiacco Thanks a lot

[2020-01-28 19:08] sachsgit opened #65 "Error Reading Update site"
Hi,

I am seeing:

StackOverview has: https://stackoverflow.com/questions/6514158/white-spaces-are-required-between-publicid-and-systemid

The only `DOCTYPE` I can find is `Natural\org.agileware.natural.cucumber\plugin.xml`
You can try to have a different docType, but I just deleted the line, and it seems to be working.

[2020-02-04 08:45] miklossy opened #66 "Updating the Xtext Community Website"
Hello Natural team,

The Xtext team would like to update the [Xtext community website](https://www.eclipse.org/Xtext/community.html) listing all the cool projects people are building around Xtext/Xtend.

See also the corresponding [GitHub issue](https://github.com/eclipse/xtext/issues/1541) and [Bugzilla ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=328477).

If you are interested that the

[2020-04-02 07:09] miklossy commented on #65
I could successfully install Natural (Cucumber Editor 0.7.6, JBehave Editor 0.3.0) into Eclipse 2020-03 (4.15.0).

@sachsgit Does the installation problem still exist on your computer?

[2020-04-02 07:25] miklossy commented on #62
I could successfully install Natural (Cucumber Editor 0.7.6, JBehave Editor 0.3.0) into Eclipse 2020-03 (4.15.0).

@devendra-qa : Does the installation problem still exist on your computer?

[2020-04-06 15:46] sachsgit commented on #65
@miklossy Yes, it does. Although, some of it, is a firewall issue with github.io.

[2020-04-08 03:11] drkstr101 commented on #46
I have a bit of experience working with eclipse plugins, and deadlocked Eclipse every time I edit a feature file with Groovy backed stepdefs. I also happen to be fairly knowledgeable of Groovy, including many of its compat issues. I will see if I can hop in here and at least prevent it from bringing down Eclipse. I will post back once I've been able to groc the codebase and get your feedback on so

[2020-04-08 03:38] drkstr101 commented on #46
PS: The other `cucumber-eclipse` plugin in marketplace has the same issue. I'm not sure if it's a common dependency or a common design flaw. I'm poking around in there too to see if that helps narrow down the defect.

[2020-04-10 07:25] rlogiacco commented on #46
Hey @drkstr101 you are very welcome to join in. To be honest I lost interest because everyone who comes here and promised to provide help has never fulfilled and I've always been left alone. I truly hope you will make me change my mind and regain interest into this plugin.

So, to chime someone famous: yes we can, if you want.

[2020-04-18 19:07] drkstr101 commented on #46
Awesome, thanks for the reply! I've been able to get the workspace up and running, now I'm just attempting to digest the code. I haven't done anything major with XText before, but I'm starting to get the hang of it. I'm sure I'll have questions. Glad to know you are still active here in that case.

Cheers!

[2020-04-19 15:16] drkstr101 opened #68 "How may I be of service"
Hello again!

I'm starting to get the hang of things over here, and wanted to see if there was anything specific you wanted me to focus on. Preferably something small(ish) that I can wrap my head around. =)

In the meantime, I've started a branch in my fork where I've upgraded to the latest tooling and set the Java version to 1.8. I'm hoping this will make it easier to fully support Groovy and Kot

[2020-04-19 21:26] rlogiacco commented on #68
Hi Aaron, we might want to find a different way to communicate other than via Issues... I'll send you my Telegram ID so we can have more lively conversations if needed.

Anyway, there are a couple of high priority things I have in my list, but they aren't "food for an appetizer", so I double your plan: just let me know if there's anything I can help with.

Go ahead with the jdk upgrade: 1.8 seems

[2020-04-19 21:26] #68 closed

[2020-04-26 18:49] hiranyaa commented on #62
Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Editor 0.7.6.201505100000 (org.agileware.natural.cucumber.feature.feature.group 0.7.6.201505100000)
  Missing requirement: Cucumber Editor 0.7.6.201505100000 (org.agileware.natural.cucumber.feature.feature.group 0.7.6.201505100000) requires 'org.eclipse.xtext 2.1.0' but it could

[2020-04-27 11:01] miklossy commented on #62
If I install Natural (Cucumber Editor 0.7.6, JBehave Editor 0.3.0) into Eclipse 2020-03 (4.15.0), it automatically picks up `Xtext 2.21`. I wonder where the `org.eclipse.xtext 2.1.0` dependency comes from.
@hiranyaa In which Eclipse enviroment do you try to install Natural?

[2020-05-06 19:03] drkstr101 commented on #64
I couldn't find any reference to this being valid Gherkin syntax.

https://cucumber.io/docs/gherkin/reference/
https://github.com/featurist/node-ebnf-diagram/blob/master/test/gherkin.ebnf (unofficial)
https://github.com/cucumber-attic/gherkin2/wiki/BNF (unofficial)

If you could point to the appropriate spec which claims this is valid Gherkin syntax we will make sure it is supported in the next gr

[2020-05-06 19:07] drkstr101 commented on #63
Thanks for the tip! These references have been removed in the latest PR.

[2020-05-06 19:13] drkstr101 commented on #62
@devendra-qa your issue appears to be a random failure reading Eclipse repos, which can be somewhat frequent during periods of heavy traffic.

As for the Natural dependency errors, I have verified the latest release works in both Eclipse Mars, and Eclipse 2020-03. More info is needed about your specific setup if you are getting install errors not related to random repo failures due to traffic.

[2020-05-06 21:25] drkstr101 commented on #59
I was unable to reproduce this error on the latest release. Could you please provide more information on your feature file? A complete test case (feature content) that demonstrates the issue would be ideal.

[2020-05-06 21:34] drkstr101 commented on #56
This is most likely related to the lack of support for example tags. I originally thought this was noncompliance to gerhkin spec, but it appears I was mistaken.

[2020-05-07 00:47] rlogiacco commented on #62
I don't see any issue: it is asking for confirmation as Natural is not an officially signed plugin, but a community contributed one...

[2020-05-07 17:14] drkstr101 commented on #64
Fixed in https://github.com/rlogiacco/Natural/pull/73

[2020-05-07 17:14] drkstr101 commented on #56
Fixed in https://github.com/rlogiacco/Natural/pull/73

[2020-05-07 19:19] ApurvaNayak opened #74 "Not able to navigate to step definition from the feature file"
**Description:** I am unable to navigate to step definition when I command+click on the steps from feature file. However, the scripts are working fine when we run through jUnit or Maven and there are no issues finding the step definition.

- **Eclipse version:**                  2020-03 (4.15.0)
- **Build ID:**                               20200313-1211
- **Plugins:**
- Natural 0.7.6 (installed f

[2020-05-07 21:45] drkstr101 commented on #64
PS: There was another open Issue which was also using tags on examples. Two people using the same pattern was proof enough in my book!

[2020-05-08 02:07] drkstr101 commented on #74
Hi ApurvaNayak,

Sorry to hear you are running into trouble. The current release on the Marketplace is actually 5 years old at this point. There will actually be an update soon (within days) that may address this problem, but there are no specific changes that change this behavior, so it could be entirely unrelated to Natural.

I will do some testing on the upcoming release and make sure linking t

[2020-05-08 02:11] ApurvaNayak commented on #74
Thanks much Aaron. I will wait for the update and see if that helps me resolving the issue. It is really giving me hard time without the linkage.

[2020-05-08 15:43] drkstr101 commented on #74
Also, it looks like this problem may have been around for a while.

https://github.com/rlogiacco/Natural/issues/51

There must be something strange in the workspace setup that's causing it to fail. More testing definitely needs to be done to ensure this is working correctly in the upcoming release.

[2020-05-08 15:44] drkstr101 commented on #51
I am taking a look into this now.

Also see: https://github.com/rlogiacco/Natural/issues/74

[2020-05-08 15:46] drkstr101 commented on #51
Oops, never mind.

It looks like you need to import your annotations, and/or correct the capitalization of your `@Given` annotation.

[2020-05-08 15:47] drkstr101 commented on #48
Fixed in current master.

[2020-05-08 15:50] drkstr101 commented on #46
This is now working much better in https://github.com/rlogiacco/Natural/pull/73 but it could still use a little work for an ideal user experience.

[2020-05-08 15:51] drkstr101 commented on #47
Totally possible with existing XText features. I will look into it!

[2020-05-08 15:52] drkstr101 commented on #45
Fixed in https://github.com/rlogiacco/Natural/pull/73

[2020-05-08 15:53] PyvesB commented on #48
Good to hear - let's close this issue then!

[2020-05-08 15:53] #48 closed

[2020-05-08 15:59] drkstr101 commented on #43
Updated URL: https://github.com/cucumber/cucumber/blob/master/gherkin/gherkin-languages.json

This will most likely need to be included in a general "localization" update. The issue is in fact that newer versions of Gherkin will match practically **any** starting word as a keyword. I have even seen joke implementations written in Klingon. We will probably need to update the AST to use any keyword

[2020-05-08 16:09] drkstr101 commented on #39
An example of how this can be done may be found here: https://de.slideshare.net/meysholdt/xtexts-new-formatter-api

Unfortunately, it will involve some semi-complicated AST updates, so this will probably not make it into `next`. It is totally doable when we are ready for a major AST overhaul however.

[2020-05-08 16:10] drkstr101 commented on #42
See: https://github.com/rlogiacco/Natural/issues/43#issuecomment-625885371

[2020-05-09 17:06] drkstr101 opened #75 "Broken Cucumber Formatting [next]"
This issue is related to https://github.com/rlogiacco/Natural/pull/73 and will need to be resolved before it can be merged.

The new Xtext formatting API is still causing some unintended side effects in [next](https://github.com/drkstr101/Natural/tree/next). The formatting API was [completely remade in Xtext 20.0](https://www.slideshare.net/meysholdt/xtexts-new-formatter-api). It is rather complex

[2020-05-12 17:48] Bokatbo commented on #64
Thanks..there is none officiel reference for this tags pattern, but we find
it powerfull to choose different tags to execute different example.
Thanks. Good job.
   Boris.

tor. 7. maj 2020 23.45 skrev Aaron R. Miller <notifications@github.com>:

[2020-05-18 17:38] drkstr101 commented on #39
There is now support for this in *next* at the AST level. The formatting rules still need to be implemented, but it should at least be possible now.

[2020-05-26 17:35] ApurvaNayak commented on #74
@drkstr101,

Hello Aaron,

Just wanted to check if we had the updates out? if Not, do we have any tentative plans ?

[2020-05-26 22:38] rlogiacco commented on #74
Have you tried the latest release, `0.7.7`?

[2020-05-27 16:50] ApurvaNayak commented on #74
Yes Aaron. Today i updated the release to 0.7.7 and the problem is still persistent. I am still facing the issue which was reported.

[2020-05-27 23:51] rlogiacco commented on #51
I'll try to step in, maybe I can help solve this.
Importing `org.agileware.natural.*` is of absolutely no use to you, you must refer to the classes defined in the Cucumber JVM project, thus importing `io.cucumber.java.en.*`.
The same applies to the libraries you are referencing: Natural is an Eclipse plugin, not a BDD library, meaning you never import our _library_, you just use our plugin to help

[2020-05-27 23:51] #51 closed

[2020-05-27 23:55] rlogiacco commented on #74
Thanks.
The issue you are reporting is related to the use of the placeholder within the `ScenarioOutline` which has never worked properly: our step matching algorithm is unable to resolve the placeholder,  thus unable to find a matching step.

I guess you are left with a few options:

1. step in and solve the problem yourself, maybe contributing your solution back to the project
2. wait until we d

[2020-05-27 23:56] rlogiacco commented on #74
Duplicate of #40

[2020-05-27 23:58] rlogiacco commented on #40
Duplicate of #31

[2020-05-27 23:59] rlogiacco commented on #33
Closing as never got any feedback

[2020-05-27 23:59] #33 closed

[2020-05-28 00:01] rlogiacco commented on #41
Four years is long enough....

[2020-05-28 00:01] #41 closed

[2020-05-28 00:05] rlogiacco commented on #44
This can be one of the tests we might consider adding to the next generation: what do you think @drkstr101 ?

[2020-05-28 00:08] rlogiacco commented on #65
Honestly, I can't reproduce it. Please let us know if this still happens after the release of `0.7.7` and `0.3.1` and I'll reopen the issue.

[2020-05-28 00:08] #65 closed

[2020-05-28 00:10] rlogiacco commented on #63
@sachsgit this would be a great time to jump in: @drkstr101 is hardly working on a huge rewrite ;)

[2020-05-28 00:12] rlogiacco commented on #62
Please let us know if you still have this issue with version `0.7.7` because that should have been fixed now.

[2020-05-28 00:12] #62 closed

[2020-05-28 00:45] rlogiacco commented on #55
Thay are _missing_ but they are also not required for the update site

[2020-05-28 00:45] #55 closed

[2020-05-28 00:46] rlogiacco commented on #59
I believe this is a duplicate of #31

[2020-05-28 00:53] rlogiacco commented on #53
I concur, duplicate of #50

[2020-05-28 01:35] drkstr101 commented on #44
Most definitely!

Currently all my test cases are focusing on the lexer parser, but this would be a great place to start building out the ui testing infra. In theory, the issue itself should be resolvable through adjustments to the scoping provider, but having a test case in place first will help us narrow that down.

[2020-05-28 01:37] drkstr101 commented on #75
Fixed.

[2020-05-28 01:37] #75 closed

[2020-05-28 03:12] drkstr101 commented on #44
Ref: [issue144](https://github.com/drkstr101/Natural/tree/issue144)

[2020-05-28 05:49] miklossy commented on #26
This feature is available since Xtext 2.6.0 (see [commit](https://github.com/eclipse/xtext-eclipse/commit/b34080919246849a0dc0977f23a4edc2748dcbff)) and should work out-of-the box without additional configuration.

[2020-05-29 01:24] friederbluemle commented on #24
Thanks @github-actions 😂

[2020-05-29 09:06] rlogiacco opened #76 "Unable to hide/suppress warnings on feature files"
Any editor in Eclipse has the ability to decide which level to assign to different validation failures and any invalid element is reported in the Problems view where you can eventually decide to delete them.

I believe our editors should follow the same principles.

[2020-05-30 04:23] drkstr101 commented on #66
@rlogiacco This is now complete. Issue can be closed.

[2020-05-30 04:27] drkstr101 commented on #24
This is fixable using the new `formatting2` API in latest Xtext.

I am flagging this issue for review in [next](https://github.com/rlogiacco/Natural/pull/73)

[2020-05-30 04:29] drkstr101 commented on #76
Should be possible with the creation of new/custom `ValidationCode` definitions, which may be localized and have metadata associated with it.

[2020-05-30 04:31] drkstr101 commented on #3
@rlogiacco

I believe spellchecking comes out of the box in any editor using latest Eclipse. This issue could probably be closed.

[2020-05-30 04:32] drkstr101 commented on #26
Thanks for the update!

@rlogiacco Please close issue.

[2020-05-30 04:34] drkstr101 commented on #7
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73)

[2020-05-30 04:36] drkstr101 commented on #11
@rlogiacco Could you please provide a little more details on what you would like to happen with this?

Cheers!

[2020-05-30 04:37] drkstr101 commented on #13
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:37] drkstr101 commented on #15
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:38] drkstr101 commented on #16
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:38] drkstr101 commented on #20
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:39] drkstr101 commented on #23
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:41] drkstr101 commented on #27
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:41] drkstr101 commented on #28
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:44] drkstr101 commented on #37
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:44] drkstr101 commented on #39
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:44] drkstr101 commented on #40
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:45] drkstr101 commented on #43
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:45] drkstr101 commented on #44
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:46] drkstr101 commented on #47
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:46] drkstr101 commented on #53
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:46] drkstr101 commented on #59
Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-05-30 04:46] drkstr101 commented on #63
@rlogiacco I believe this issue can be closed.

[2020-05-30 09:23] rlogiacco commented on #66
I’m closing the issue @drkstr101 , but I kindly ask you to have yourself added to the list of authors of the plugin, please.

Thank you!

[2020-05-30 09:23] #66 closed

[2020-05-30 09:26] rlogiacco commented on #26
Fixed in `0.7.7` and `0.3.1`

[2020-05-30 09:26] #26 closed

[2020-05-30 09:32] rlogiacco commented on #11
Right now the feature file gets parsed upon change, but if I change a stepdef the matching changes are not reflected on the feature file.

Example: feature file has 3 stepdefs, 1 is not matched and highlighted with a warning; I implement the missing stepdef, the warning stays there in the feature file until I change the feature file.

What I wish to have is the feature file to listen for Java comp

[2020-05-30 09:32] miklossy commented on #66
I also think that @drkstr101 deserved to be listed as the authors of the project. I created a [PR](https://github.com/eclipse/xtext/pull/1795/files) where he is also listed.

[2020-05-30 09:34] rlogiacco commented on #66
Thank you

[2020-05-30 09:35] #63 closed

[2020-05-30 09:40] drkstr101 commented on #11
Got it, thanks!

Flagging for review in [next](https://github.com/rlogiacco/Natural/pull/73).

[2020-06-02 08:06] miklossy commented on #66
The `Natural` project has been added to the [Xtext community website](https://www.eclipse.org/Xtext/community.html). Thank you @rlogiacco and @drkstr101 !

[2020-06-03 09:20] miklossy commented on #42
See also a similar discussion in the [Xtext forum](https://www.eclipse.org/forums/index.php/t/439313/).

[2020-06-03 12:13] miklossy commented on #42
I think the most appropriate solution would be to allow any IDs for the keywords in the grammar and let the validation/content assist implement that way that it evaluates the first line of the *.feature file to determine the used language and validate / offer proposals accordingly.

From the [Spoken Languages](https://cucumber.io/docs/gherkin/reference/#spoken-languages) section of the Cucumber Gh

[2020-06-04 18:55] drkstr101 commented on #27
This would be fairly trivial to implement now that `formatting2` API is on the table. The bulk of the work would go into defining a preference page with formatting options. Those options are then injected into the formatter and may be used to format conditionally.

@rlogiacco  This could probably use a `feature-request` tag if you wanted to add it to the backlog. Otherwise it could possibly be clo

[2020-06-04 19:04] drkstr101 commented on #23
Confirmed  with [failing test case](https://github.com/drkstr101/Natural/commit/c1cec82e9f44e058789c530463ad3a8b67f4b57a) in `next`.

[2020-06-04 19:08] drkstr101 commented on #7
@rlogiacco Jbehave has been totally reworked in next. This can probably be closed out as no longer relevant. Otherwise feature-request it for fine-tuned Jbehave formatter rules. (it should be fairly close to Cucumber formatter as is). Cucumber formatter would probably get priority though, yes?

[2020-06-04 19:18] drkstr101 commented on #28
@rlogiacco I would probably feature-request this one. The behavior in next should not be any better or worse, as it will just be whatever the default is for the AST. This behavior is customizable however, if we would like to add some custom rules to the code-folding.

[2020-06-04 19:20] drkstr101 commented on #39
The capability now exits in next to do this, but the custom formatting rules need to be implemented. No change needed on Issue status.

[2020-06-05 00:10] #58 closed

[2020-06-05 00:44] rlogiacco commented on #7
Yup 👍

[2020-06-05 00:44] #7 closed

[2020-06-06 00:10] #4 closed

[2020-06-06 00:10] #29 closed

[2020-06-07 20:00] rlogiacco commented on #31
this might actually get implemented once @drkstr101 gets the new step matching algorithm

[2020-06-17 05:07] miklossy opened #79 "Add Language Server Protocol Support to the Gherkin Language"
Since [Xtext 2.13](https://blogs.itemis.com/en/eclipse-xtext-2.13-is-released) there is a support for building Language Server packages for Xtext-based languages.

It would be nice to add this LSP Support to the Gherkin Language to be able to use it in different editors, such as Atom, Theia, Visual Studio Code, ...

See also the [List of Language Servers](https://microsoft.github.io/language-serve

[2020-06-17 09:32] rlogiacco commented on #79
Jump in mate and help us out :-D

[2020-06-18 13:04] drkstr101 commented on #79
Support for VSCode/Web based editors is coming up in the next release, which should be wrapped up today or tomorrow. However, they probably won't be fully supported until beta (Natural 2.0) is stable, which is coming a bit later.

[2020-06-20 23:10] drkstr101 commented on #79
Added LSP support in https://github.com/rlogiacco/Natural/pull/82

Cheers!

[2020-07-15 00:14] #46 closed

[2020-07-18 11:28] rlogiacco commented on #45
#73 was closed, did we incorporate this into #82? I'm getting confused by all these branches/PRs 😄

[2020-07-18 11:29] rlogiacco commented on #46
As #73 was closed without merging, is this also part of #82 ? Otherwise please re-open this issue: thanks.

[2020-07-19 00:14] #64 closed

[2020-07-21 16:25] drkstr101 commented on #45
Yes indeed!  This issue can be closed as done.

[2020-07-21 16:28] drkstr101 commented on #46
This one can also be closed. Groovy step defs are working in my large(ish) project. The only change was really the upgrade to Java 1.8 target + deps upgrade + flag in the validator to mark it as expensive. This flag changes the defaults on how and when it is executed. All of the above seemed to fix the issue, in my use case at least. Further smoke testing would be appreciated.

[2020-07-21 21:13] rlogiacco commented on #45
fixed in #82

[2020-07-21 21:13] #45 closed

[2020-07-31 06:59] DineshGunna commented on #62
Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Editor 0.7.7.202005221158 (org.agileware.natural.cucumber.feature.feature.group 0.7.7.202005221158)
  Missing requirement: Cucumber Editor 0.7.7.202005221158 (org.agileware.natural.cucumber.feature.feature.group 0.7.7.202005221158) requires 'org.eclipse.equinox.p2.iu; com.google.

[2020-07-31 12:56] sachsgit commented on #62
@DineshGunna , when that happened to me, it involved a firewall restriction.
Are you behind a firewall?

[2020-08-01 21:48] drkstr101 commented on #76
@rlogiacco

See [features/validation](https://github.com/drkstr101/Natural/tree/features/validation) for work in progress.

[2020-08-02 16:40] drkstr101 commented on #76
Ref: https://github.com/rlogiacco/Natural/pull/84

[2020-08-03 00:15] #74 closed

[2020-08-03 00:15] #56 closed

[2020-08-04 00:15] #50 closed

[2020-08-04 20:31] drkstr101 commented on #42
@miklossy I just wanted to let you know I've been slowly plugging away at this in the background. My current challenge has been getting this to work with existing SL_COMMENT terminal rule which makes it hidden. I suppose I can work around this by grabbing the text from the parser rather than the AST, but I was hoping for a less finicky solution. Also step keywords need to be terminals or they clas

[2020-08-05 01:43] miklossy commented on #42
@cdietrich @szarnekow: Do you have any hints on this?

[2020-08-05 02:18] drkstr101 commented on #42
One other idea I had is to implement a step in the generator to preprocess the json into a set of optional feature bundles for each locale. The goal wouldn;t be to reduce the bundle size but to keep the terminal rules to a minimum. I am making the assumption that performance scales poorly with *n*, where *n* is the number of terminal rules defined. I could be mistaken about this.

[2020-08-05 02:41] drkstr101 commented on #28
@rlogiacco This is a good example of strange behavior that will most likely go away with the AST updates in *next*. We may want to start labeling these issues and roll them all into a single release so it can all be thoroughly tested. IMHO this release would probably be a good 1.0 candidate.

[2020-08-06 00:16] #13 closed

[2020-08-06 00:16] #11 closed

[2020-08-06 00:16] #3 closed

[2020-08-06 00:37] friederbluemle commented on #24
Can we please keep this open until the pending work/feedback is resolved?

[2020-08-06 19:27] drkstr101 opened #85 "github-actions event timing"
Is the short timer on the "Stale" tag intentional? I frequently get full pages of notifications from `github-actions` which I have not been able to figure out how to filter. I was wondering if maybe this was a misconfiguration somewhere, or if you wanted to ensure old tickets are frequently touched.

[2020-08-06 19:33] drkstr101 commented on #24
@rlogiacco I agree, this is still an unresolved issue. It has improved somewhat in current master (unreleased as of yet), but won't be fully supported until the 1.0 milestone release.

The current behavior in master is to simply preserve the existing Narrative formatting. Later we can add rules for things like whitespace cleanup or auto-indent.

[2020-08-07 09:15] rlogiacco commented on #85
I changed it so that now applies only to those labeled as “Pending
Feedback”...
It wasn’t intentional and I found it annoying as well 👍

[2020-08-07 21:42] drkstr101 commented on #85
Cheers mate!

[2020-08-07 21:42] #85 closed

[2020-08-10 16:58] drkstr101 commented on #42
@cdietrich @szarnekow @kthoms @miklossy

FYI the underlying work for this can be found in [drkstr101/next](https://github.com/drkstr101/Natural/tree/next)

The current mission is to update the grammar to remove all ambiguities (generator warnings) so that it can be loaded and compiled in ANTLRWorks. The grammar in next does achieve this, but there is some parser regression in [CucumberExamplesTest

[2020-08-11 00:16] #37 closed

[2020-08-15 00:16] #59 closed

[2020-08-15 22:32] drkstr101 commented on #76
Fixed in https://github.com/rlogiacco/Natural/pull/86

[2020-08-21 17:57] mikeauen opened #87 "Editing .feature file causes "Error executing EValidator" in latest veresion of Eclipse"
When using the latest Natural plugin in the latest Eclipse to edit feature files, an error is immediately thrown in the file "Error executing EValidator". Not only is the error shown, but it also seems to prevent ctrl+click on the steps linking to the step files. Every developer on my team sees this same problem, but I cannot find anyone else complaining about this when doing google searches. Coul

[2020-08-27 10:49] miklossy commented on #87
Based on the stacktrace from @mikeauen I could reproduce the problem with the following java program:

[code]

Executing this java program produces the same exception:

[code]

The problem can be fixed by quoting the `regex` parameter of the `String.matches(String regex)` method call so that it represents a properly formatted reqular expression even if the text contains regex symbols like `{` and

[2020-08-27 12:26] miklossy commented on #42
Hello Aaron !

I have just checked out the current state of your branch and can execute the `pathological_01()` test case without any problem.

However, there are some other test cases failing on my machine:

![screenshot](https://user-images.githubusercontent.com/20393472/91441850-34065480-e871-11ea-8644-1a60858aacda.png)

How is the current state on your machine?

[2020-08-27 12:52] miklossy commented on #42
E.g. the `parseTableData` test case currently fails because the `Cucumber.xtext` grammar definines that a step description must start with either `(WORD | NUMBER | STRING)` . The test case processes a content with `Given <foo>` .  `<foo>` is recognized as a PLACEHOLDER, so extending the grammar definition by (WORD | NUMBER | STRING | PLACEHOLDER) makes the `parseTableData` test case pass.

[2020-09-06 16:54] drkstr101 commented on #87
This is using cucumber-jvm5 compatible syntax. In theory it should not be that difficult to add support in [next](https://github.com/rlogiacco/Natural/pull/86). I had some WIP updates to the stepmatcher, but had backed them out to focus on the grammar lang for this release. In theory we just need to iterate the `Literal+` nodes in `RawText` and pluck out those which have a `grammerElement` of `STR

[2020-09-07 19:29] drkstr101 commented on #42
Thanks for the assist on this one! We were able to incorporate the idea in the upcoming release. Cheers!

[2020-09-09 22:33] drkstr101 opened #89 "Add Support for Cucumber Expressions"
Support for [Cucumber Expressions](https://cucumber.io/docs/cucumber/cucumber-expressions/) has been added to recent versions of cucumber-jvm, which cause the stepmatcher to fail in the current release. It took those folks [a little over a year](https://github.com/cucumber/cucumber-jvm/issues/1041) to implement the feature, so it seems like it will be quite involved.

This work should most likely

[2020-09-09 22:38] drkstr101 commented on #87
This is [a lot more involved](https://github.com/rlogiacco/Natural/issues/89) than I originally thought. However, the upcoming release should treat these as a mismatched step, which would then be a configurable warning rather than a straight-up runtime exception thrown during validation.

[2020-09-10 00:29] drkstr101 commented on #87
@miklossy Thanks for the tip! I've [added some additional error protection](https://github.com/rlogiacco/Natural/blob/4b29b1c817e664eaefec0c4b13e243e98adb25ad/org.agileware.natural.stepmatcher.ui/src/org/agileware/natural/stepmatcher/ui/JavaAnnotationMatcher.java#L35) as you pointed out in your example. I should have tested against this new syntax once the stepmatcher was updated to target the new

[2020-09-10 09:32] rlogiacco commented on #89
We should consider integrating with the internal parser/matcher instead of using our own:
* it's hard to create an EBNF version of the Gherkin syntax (as you have experienced first-hand)
* it's tough to follow the Gherkin and Cucumber development rate (it's just the 2 of us)

[2020-09-10 09:37] rlogiacco commented on #87
For having it working as expected in relation to step matching we will have
to:

1. Define a new non-terminal element
2. match curly braces and store the content
3. find if a method with the appropriate annotation and name exists in the
glue codebase

We can decide to skip the third step (I believe it's not going to be a very
fast operation) and avoid the storing part of the second step, but that

[2020-09-11 01:40] drkstr101 commented on #89
Yes I think you are right. It would be ideal if step matching was consistent with underlying library used to execute the tests.

[2020-09-12 19:37] drkstr101 commented on #87
What About something like this?

[code]

This might be a little slow, however. I am not sure how best to branch between the two forms.

[2020-09-14 16:56] drkstr101 commented on #27
The capabilities for this are now present in [next](https://github.com/rlogiacco/Natural/pull/86), but the test case we have was failing, and so was commented out. We need to investigate further to see where the breakdown is. In theory it should be pulling the indentation string from settings, so perhaps the test case is not being instrumented correctly.

[2020-09-14 17:01] drkstr101 commented on #43
@rlogiacco This will be closed by https://github.com/rlogiacco/Natural/pull/86

[2020-09-14 17:03] drkstr101 commented on #23
@rlogiacco This can be closed with https://github.com/rlogiacco/Natural/pull/86

[2020-09-14 17:05] drkstr101 commented on #79
@rlogiacco This has already landed in master, so can probably be closed out.

[2020-09-14 17:08] drkstr101 commented on #53
@rlogiacco I don't think this has anything to do with Natural.

[2020-09-14 17:17] drkstr101 commented on #40
Hmm, this could be tricky. We may have to pull values from the parsed Table data to know how to match the tokens in the step definition.

[2020-09-14 17:20] drkstr101 commented on #28
@rlogiacco This can be closed with https://github.com/rlogiacco/Natural/pull/86

[2020-09-14 17:21] drkstr101 commented on #24
@rlogiacco This can be closed with https://github.com/rlogiacco/Natural/pull/86

[2020-09-14 17:24] drkstr101 commented on #15
Step refactoring across feature files may be a handy feature. This was always a pain when there are a lot of compostable steps used everywhere.

[2020-09-16 17:38] rlogiacco commented on #87
I would keep this aside for now: let's focus on what we currently have. Once we get it working as expected we start adding features

[2020-09-16 17:41] rlogiacco commented on #15
Yes, but can you imagine the pain in doing this with outlines and examples?

[2020-09-16 17:42] #79 closed

[2020-09-16 17:48] rlogiacco commented on #53
I believe it does: as we are reading the annotations from the source files and without compiling the Natural plugin doesn't see the constant being _expanded_... This is my best guess ATM

[2020-09-16 17:56] rlogiacco commented on #40
I believe we have also a visualization problem: what should we do when the first three rows match but the fourth doesn't? How to pinpoint where the problem is? Not to mention the performance degradation...

We can aim at a compromise: replace any reference to the placeholders in the step with a fixed value, let's say an **underscore**, then the step defs must be altered to include this marker char

[2020-09-16 19:12] drkstr101 commented on #87
Agreed.

[2020-09-16 19:17] drkstr101 commented on #53
Oh I didn't realize this was how it worked. I assumed `annotationValue` would contain the string value. How would this work in the case of groovy step definitions, where you can pass an actual RegExp EG `@Given(/^foo$/)`.

[2020-09-17 05:10] drkstr101 commented on #40
What if we maintain a cache of `TableRow` -> `description` transformations, where `description` contains the tokenized string replacements. Then `CucumberValidator` could inject a service in the same fassion os `IStepMatcher`,  but for the purposes of validating intances of `Example`. In this case would we not issue a warning if there are multiple valid matches, or is this an incorrct assumption a

[2020-09-17 07:36] rlogiacco commented on #40
When such entries are evicted from this cache and how do you identify which entries should be removed? You need to also store the source file and evict all entries in the file whenever that file is saved and rebuild that part of the cache... Then your stepmatcher must inspect the cache using the current file as an index....

The step matching is not blazing fast and it is doing at most one match p

[2020-09-17 07:38] rlogiacco commented on #53
:-) I thought you had already a try on this... You contributed heavy modifications to the stepmatcher... Let's check this before we move further with the release ;)

[2020-09-17 16:42] drkstr101 commented on #40
Ah yes good point, I can see how this could get unwieldy.

[2020-09-17 18:29] drkstr101 commented on #40
What if we simply parse the first row (after the header), then make it clear in the warning message what description was used to validate the step definition. Then we can move the step validation check up to `AbstractScenario`, while branching on `ScenarioOutline` as a special case.

IMHO this would be more user friendly  than requiring changes to the step definitions to compensate for the editor.

[2020-09-18 07:48] drkstr101 commented on #53
Ah, only the most basic hello-world test. I don't think I've tested this style of syntax specifically. I do know I've written step definitions this way before however, so it was surprising to hear there is a compile time and runtime difference, which makes sense when I think about it. I agree it could use further exploration.

Unfortunatly all my contributions to the step matcher thus far have bee

[2020-09-18 09:53] rlogiacco commented on #40
Yes, I agree with your suggestion: we only try to match the first row of the first table (multiple examples at play!) and CTRL+click brings you to the stepdef we used for matching.

This is a much better compromise than what I was suggesting. 👍

[2021-03-22 12:59] YenikeRaghuRam opened #91 "Eclipse : Natural 9.0 - Unable to read repository at http://rlogiacco.github.com/Natural/compositeContent.xml. org.apache.http.client.ClientProtocolException"
Eclipse : Natural 9.0 - Unable to read repository at http://rlogiacco.github.com/Natural/compositeContent.xml. org.apache.http.client.ClientProtocolException

![natural](https://user-images.githubusercontent.com/81166452/111993384-92ac5c00-8b3c-11eb-916e-d4b136a25fa1.PNG)
![natural8](https://user-images.githubusercontent.com/81166452/111993391-93dd8900-8b3c-11eb-837a-e393c0a4f85b.PNG)

[2021-04-17 17:23] KarGop commented on #62
am trying to install in linux machine. It shows path not found "http://rlogiacco.github.com/Natural"

[2021-04-23 13:26] sachsgit commented on #62
@KarGop For some reason, I, too, have a problem with that link as well.
[https://github.com/rlogiacco/Natural](https://github.com/rlogiacco/Natural) does work for me, so try using that one.

[2021-04-24 02:39] KarGop commented on #62
@sachsgit Thank you for your reference. I tried that one(http://github.com/rlogiacco/Natural). Again I am facing the same error "could not find http://github.com/rlogiacco/Natural"

[2021-04-25 03:13] sachsgit commented on #62
@KarGop That is strange, I have to wonder about firewall or permissions then.
What are you using to connect? If it's Eclipse, does it have its own Keystore? Is github.com within the Keystore? Same for Java.
This [article](https://stackoverflow.com/questions/684081/importing-ssl-certificate-into-eclipse) might help you

[2021-04-27 13:14] R3dXIII commented on #91
I have this problem too.

[2021-04-28 11:46] YenikeRaghuRam opened #92 "Mismatched Input Expecting Examples is displayed in Eclipse"
Mismatched Input Expecting Examples is displayed in Eclipse
When using tags
with Examples
PFA
![Examples](https://user-images.githubusercontent.com/81166452/116398413-67a4de80-a845-11eb-9610-cae7b98dd60c.png)

[2021-04-29 07:00] YenikeRaghuRam commented on #91
I did offline installation it worked

[2021-04-29 08:21] R3dXIII commented on #91
Great, glad it worked for you.

[2021-04-30 21:52] R3dXIII commented on #91
For me it was mentioned in a Cucumber/Selenium tutorial on Youtube so that's why I needed to use it.

[2021-05-01 10:29] rlogiacco commented on #92
Thanks for reporting the issue, but it won't be fixed unless you submit a patch

[2021-05-02 14:38] YenikeRaghuRam commented on #92
Attached natural zip file[
[natural-0.7.5.zip](https://github.com/rlogiacco/Natural/files/6411590/natural-0.7.5.zip)
](url)

[2021-05-02 14:56] rlogiacco commented on #92
What is this zip file?

[2021-05-02 14:57] YenikeRaghuRam commented on #92
I 've used this natural zip file in eclipse to proceed for offline installation of natural

[2021-05-02 14:58] rlogiacco commented on #92
Has this anything to do with the issue? Where did you pull the zip file from?

[2021-05-02 15:05] YenikeRaghuRam commented on #92
I pulled it from https://github.com/rlogiacco/Natural/releases,
I don't know if it has anything to do with the issue, as u mentioned like to submit a patch
i thought it was zip file and attached it

[2021-05-02 22:13] rlogiacco commented on #92
A patch is a series of changes to the source code which, when applied to the source code contained in this repository, fix the issue. Attaching a file you downloaded from this very same repository is not very useful, definitely, that's not a patch.

[2021-05-15 17:27] Vijay73786 opened #93 "Unable to install Natural 0.9"
When clicked on install and hit confirm -> got the popup saying : Unable to read repository at http://rlogiacco.github.com/Natural.
http://rlogiacco.github.com/Natural is not a valid repository location.

[2021-05-17 09:27] nathanmobbs commented on #93
Looks like you're not the only one having this issue.

[2021-05-19 17:43] mijain-conga commented on #62
To add Natural Plugin in eclipse, try using URL - http://rlogiacco.github.io/Natural.

[2021-05-19 17:45] mitujain01 commented on #62
To add Natural Plugin in eclipse, try using URL - http://rlogiacco.github.io/Natural.

[2021-05-20 01:44] sachsgit commented on #62
By using the "Help > Install New Software...." and using that URL to manually install Natural, I was successful.
Thanks @mitujain01

[2021-05-21 15:11] TestLeafInc commented on #93
Use http://rlogiacco.github.io/Natural

[2021-05-22 14:04] lakshmikanth-1712 commented on #93
Use http://rlogiacco.github.io/Natural
This URL works perfectly fine.. Thanks!!

[2021-07-23 03:06] adityadubey057 commented on #87
Hi Team,
Is there a fix for the same ?? I am facing the same issue as soon as I edited my Feature File on the First Line
**"Error Executing EValidator"**

**And this is the error I am getting on my Error Logs**

java.util.regex.PatternSyntaxException: Illegal repetition near index 24
Add APILoginPayLoad with {string} {string} {string} {string} {string}
                        ^
	at java.util.regex

[2021-08-12 19:42] nikhilgosavi19 commented on #93
http://rlogiacco.github.io/Natural
This URL is no longer working:(

[2021-08-30 05:52] e9425611 opened #94 "Java code step definition detection is import dependent"
Matching scenario outlines to the stepdefinition only works if the stepdefinition is based on  the deprecated cucumber.api.java.* but not when its based on io.cucumber.java.*.

[2022-01-19 13:59] naveenjotron commented on #93
can't install from Eclipse marketplace.
http://rlogiacco.github.com/Natural is not a valid repository location.

[2022-01-19 23:42] rlogiacco commented on #93
You know lads, this is an open-source project: rather than complaining about stuff you got for free and is not working, you could provide solutions...

[2022-02-17 16:09] dassusovan commented on #93
Help -> Install New Software
![image](https://user-images.githubusercontent.com/32001700/154521869-15adbf33-8b47-4326-b66c-4182df805a01.png)

[2022-02-28 23:28] rlogiacco commented on #93
Fixed by #95

[2022-02-28 23:28] #93 closed

[2022-04-20 16:19] HetalPansuriya commented on #91
I am unable to install Natural, it shows error as attached
![Error](https://user-images.githubusercontent.com/103945829/164276844-0d0cf87e-fb3b-4e29-b69a-a8f69430768b.png)
I tried everything but still not working..what should i do?

[2022-05-24 06:27] rraajj commented on #91
Install from install new software and it is working

[2022-08-23 03:26] JACKRULER commented on #93
stil its not working http://rlogiacco.github.com/Natural

[2022-08-23 03:27] JACKRULER commented on #93
any updates to install the same

[2022-11-08 08:53] dmohanty15 opened #96 "Natural 0.9 plugin is not getting installed in eclipse"
getting invalid repository while trying to install Natural 0.9 plugin in eclipse .

![image](https://user-images.githubusercontent.com/84207221/200518941-c2d6e6ea-6e08-46f5-a5be-f44cb72677e8.png)